*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
a {
    text-decoration: none;
}


body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/6e6b26b5-089a-4efe-a2a0-a462f9190c41/BR-en-20231023-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: top center;
    
}

.back{
    background-color: rgb(0, 0,0, 0.7);
    padding-bottom: 100%;
}

#heading{
    justify-content: flex-start;
    padding: 25px;
  
}

#heading a{
    color: rgb(229,9,20);
    font-size: 70px;
    text-transform: uppercase;
}

section{
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: rgb(0, 0,0, 0.8);
    transform: translate(-50%,-50%);
    border-radius: 4px;
    padding: 70px;
}

section .box-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}

section .box-usuario{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

section .box-usuario h1{
    color: white;
    font-size: 35px;
    margin-bottom: 25px;
}

div .box-input{
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}


div .box-input label{
    position: absolute;
    font-size: 20px;
    bottom: 5px;
    cursor: text;
    color: rgb(109, 109, 109);
    transition: 0.5s ease-in-out;
    padding: 30px 8px;
}

div .box-input .input{
    width: 100%;
    padding: 20px;
    border: 0;
    outline: 0;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
}

div .button-sing{
    width: 360px;
    padding: 20px;
    margin:  20px 0px ;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(229,9,20);
}

.box-remember{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.box-remember a{
    color: rgb(109, 109, 109);
}

.box-remember label{
    color: rgb(109, 109, 109);
}

.custom-checkbox input{
    display: none
}

.box-recaptch {
    color: rgb(109, 109, 109);
    display: flex;
}

.box-recaptch a{
    color: blue;
}

.custom-checkbox input + label:before{
    content: '';
    width: 19px;
    height: 19px;
    border-radius: 4px;
    background-color: rgb(134, 133, 133);
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-bottom: 3px;

}

.custom-checkbox input:checked + label:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='18' height='18' viewBox='0 0 24 24'%3E%3Cpath d='M 20.292969 5.2929688 L 9 16.585938 L 4.7070312 12.292969 L 3.2929688 13.707031 L 9 19.414062 L 21.707031 6.7070312 L 20.292969 5.2929688 z'%3E%3C/path%3E%3C/svg%3E");
    background-color: white;

}

.box-sing-up {
    display: flex;
    padding: 20px 0px;
    font-size: 18px;
}

.box-sing-up a{
    margin-left: 4px;
    color: white;
    
}
.box-sing-up p{
    color: rgb(109, 109, 109);
}


div .box-input .input:focus,
div .box-input .input:valid{
    border-bottom: 3px solid orange;
}

div .box-input .input:focus ~ label,
div .box-input .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
}


